{% extends 'base.html' %}

{% block content %}
<div class="container pt-4">
    <div class="jumbotron bg-primary text-white">
            <h1>ok! Lets Delete <i class="fas fa-trash"></i></h1>     
            <p><i class="fas fa-exclamation-triangle text-danger"></i> {{object.content}} <i class="fas fa-exclamation-triangle text-danger"></i></p>
            <form action="" method="POST">
                    {% csrf_token %}
                   
                    <input type="submit" value="Delete" class="btn btn-light">
                </form>
    </div>
</div>
{% endblock %}

